{STATE}
<!DOCTYPE html>
<html>
	<head> 
	<title> Add the analysys to experiment</title>
	</head>
	<body>
	
	<h1>ADD THE ANALYSIS</h1><br><br /><br><br>
	<p align="right">
		<a href="{HOME}"><font size="5dp">home</font></a>
	</p>
	<p align="right">
		<a href="logoutController.php"><font size="5dp">sign out</font></a>
	</p><br><br><br>
	
	<h1>DO YOU WANT ADD THE ANALYSIS TO EXPERIMENT "{NAME_EXPERIMENT}"</h1><br><br>
	
	<p>
		Please, add the analisys: <a href="{ADD_ANALISYS}">click</a><br>
	</p>

	
	

</body>
</html>