{STATE}
<!DOCTYPE html>
<html>
	<head> 
	<title> Add the analysys to experiment</title>
	</head>
	<body>
	
	<h1>ADD THE ANALYSIS</h1><br><br /><br><br>
	<p align="right">
		<a href="{HOME}"><font size="5dp">home</font></a>
	</p>
	<p align="right">
		<a href="logoutController.php"><font size="5dp">sign out</font></a>
	</p><br><br><br>
	
	<h1>DO YOU WANT ADD THE ANALYSIS TO EXPERIMENT "{NAME_EXPERIMENT}"</h1><br><br>
	
	{MESSAGE_UPLOAD}
	<p>
		Please, add the analisys loading the file: <br><br>
		<form action="{ACTION}" method="post"  enctype="multipart/form-data">
            <input type="hidden" name="action" value="upload" />
            <label>Load your file:</label>
            <input type="file" name="user_file" />
            <br />
            <input type="submit" value="load" />
        </form>
		
	</p>

	
	

</body>
</html>