{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>What is the experiment to show?</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>	
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.css" rel="stylesheet" media="screen"/>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.js"></script>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div style="text-align:right; margin-right:20px; margin-top:2px;"> <a href="profileUserController.php"><font size="3dp">profile</font></a></div>
		<div style="text-align:right; margin-right:20px; margin-top:2px;"> <a href="logoutController.php"><font size="3dp">logout</font></a></div>
		<div style="text-align:right; margin-right:20px; margin-top:2px;"> <a href="{HOME}"><font size="3dp">home</font></a></div>
		<div align="center">
		<nav class="navbar navbar-inverse" style="background-color:#01DF74; width:900px; margin-top:10px;" >
  			<div class="page-header">
  				<h1>Delete Experiment</h1>
			</div>
			</nav>
			<div class="panel panel-success" style="width: 330px;">
  				<div class="panel-heading">
    				<h3 class="panel-title">Experiments: </h3>
  				</div>
					<p>
						{EXPERIMENT}
					</p>
			</div>
			
		
		</div>
		
		
		<div id ="footer" style="margin-top:90px;" align="center" >
				<img src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/img/footer.jpg">
		</div>
	</body>
</html>