{STATE}
<!DOCTYPE html>
<html>
	<head> 
	<title> Insert new experiment</title>
	</head>
	<body>
	
	<h1>INSERT NEW EXPERIMENT</h1><br><br /><br><br>
	<p align="right">
		<a href="{HOME}"><font size="5dp">home</font></a>
	</p>
	<p align="right">
		<a href="logoutController.php"><font size="5dp">sign out</font></a>
	</p><br><br><br>
	{MESSAGE_ERROR}<br><br>
	<form action="{ACTION}" method="post">
	<fieldset>

	<p> Enter experiment's dates: <br>
	<label>
	Name: <input type="text" name="name" value="{NAME}" >
	</label><br>
	
	</p>

	<label>
		<input type="submit" name="submit" value="insert">
	</label>

	</fieldset>
	</form><br><br><br>
	

</body>
</html>