{STATE}
<!DOCTYPE html>
<html>
	<head>
	<title> Login user</title>
	</head>
	<body>
	
	<h1>LOGIN</h1><br><br /><br><br>
		{WELCOME}<br>
		{MESSAGE_ERROR}<br><br>
	<form action="{ACTION}" method="post">
	<fieldset>

	

	<p> Enter your username and password: <br>
	<label>
	Username: <input type="text" name="username" value="{USERNAME}" >
	</label><br>
	<label>
	Password: <input type="password" name="password" value="{PASSWORD}">
	</label><br>
	</p>

	<label>
		<input type="submit" name="submit" value="login">
	</label>

	</fieldset>
	</form><br><br><br>
	
	Do you want register??<br>
	Please, click here <a href="signInController.php">sign in</a>

</body>
</html>