{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>Registrasion successfully</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>	
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.css" rel="stylesheet" media="screen"/>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.js"></script>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.min.js"></script>
	</head>
	<body>
		 <div align="center">
			<nav class="navbar navbar-inverse" style="background-color:#01DF74; width:900px; margin-top:0px;" >
  				<div class="page-header">
  					<h1>Registation Successfully</h1>
				</div>
			</nav>
			
	
		{MESSAGE}<br><br>
		</div>
	<div id ="footer" style="margin-top:300px;" align="center" >
				<img src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/img/footer.jpg">
	</div>
</body>
</html>