{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>What is the experiment to show?</title>
	</head>
	<body>
		<h1><font color="orange" size="8">What do you want to do?</font></h1><br><br>
		<p align="right">
		<a href="logoutController.php"><font size="5dp">sign out</font></a>
		</p><br><br><br>
			<a href="{INSERT}">INSERT NEW EXPERIMENT</a><br><br>
			<a href="{DELETE}">DELETE AN EXPERIMENT</a><br><br>
			<a href="{PERMISSION}">ADD USER PERMISSION</a><br><br>
			<a href="{SHOW}">SHOW EXPERIMENTS</a><br>
	</body>
</html>