{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>User's date</title>
		
	</head>
	<body>
  		<h1>USER'S DATES</h1><br><br>
		
		  <p align="right"> <a href="{HOME}"><font size="5dp">home</font></a><br> </p>
		  <p align="right"> <a href="logoutController.php"><font size="5dp">logout</font></a></p><br><br>
		  {WELCOME}<br>
		<ul type="square">
			<li> <font size="8dp">Name:  {NAME_USER}</font> </li>
			<li><font size="8dp">Surname:  {SURNAME_USER}</font> </li>
			<li><font size="8dp">E-mail:  {EMAIL}</font></li>
			<li><font size="8dp">Role:  {ROLE}</font></li>
		</ul>
		<br><br>
		<a href="{HREF}">Modify</a>
		

	</body>
</html>