{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>Setting Threshold</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>	
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.css" rel="stylesheet" media="screen"/>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.js"></script>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.min.js"></script>
		
	</head>
	<body>
		
		<div style="text-align:right; margin-right:20px; "> <a href="profileUserController.php"><font size="3dp">profile</font></a></div>
		<div style="text-align:right; margin-right:20px; "> <a href="logoutController.php"><font size="3dp">logout</font></a></div>
		<div style="text-align:right; margin-right:20px; "> <a href="{HOME}"><font size="3dp">home</font></a></div>
  				<h1>Set p_value and fold change threshold for the experiment {NAME_EXPERIMENT} in one of these three types of filters</h1><br><br>
			
  			
			{MESSAGE_ERROR} <br><br>
			<p align="center">
			<form action="{ACTION}" method="post">
				<fieldset>
					<b>P-value:</b><br>
					<label>
						 <input name="thresholdPvalue" type="radio" value="up" checked="checked">up </input>	 
					</label><br>
					<label>
						 <input name="thresholdPvalue" type="radio" value="down" >down</input>	 
					</label><br>
					<label>
						 <input name="thresholdPvalue" type="radio" value="range" >range</input>	 
					</label><br>
					<label>
						 <input name="numberPvalue" type="number" placeholder="any" step="any" />	 
					</label>
				</fieldset><br><br>
				<fieldset>
					<b>Fold change:</b><br>
					<label>
						 <input name="thresholdFoldChange" type="radio" value="up" checked="checked">up </input>	 
					</label><br>
					<label>
						 <input name="thresholdFoldChange" type="radio" value="down" >down</input>	 
					</label><br>
					<label>
						 <input name="thresholdFoldChange" type="radio" value="range" >range</input>	 
					</label><br>
					<label>
						 <input name="numberFoldChange" type="number" placeholder="any" step="any"/>	 
					</label>
				</fieldset><br><br>
				<label><input type="submit" name="submit" value="send" /></label>
			</form><br><br>
		</p>			
	
	</body>
</html>