{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>List Analysis</title>
	</head>
	<body>
		<h1 align="center"><font color="orange" size="6">LIST ANALAYSIS OF THE EXPERIMENT {NAME_EXPERIMENT}</font></h1><br><br>
		<p align="right">
		<a href="{HOME}"><font size="5dp">home</font></a>
		</p>
		<p align="right">
		<a href="logoutController.php"><font size="5dp">sign out</font></a>
		</p><br><br>
		<table border="1">
			<tr><th>Gene symbol</th><th>P value</th><th>Fold change</th><th>Name</th><th>Date</th></tr>
			{ROW}
		</table>	
		

	</body>
</html>