{STATE}
<!DOCTYPE html>
<html>
	<head>
		<title>List Analysis</title>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>	
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.min.css" rel="stylesheet" media="screen"/>
		<link href="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/CSS/bootstrap.css" rel="stylesheet" media="screen"/>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.js"></script>
		<script src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/js/bootstrap.min.js"></script>
		<!--<script type="text/javascript">
		
		function myPopupGene() {
			window.open("{POP-UP_GENE}", "myWindow","status = 1, height = 300, width = 300, resizable = 0" );
		}
		</script>-->
	</head>
	<body>
		<div style="text-align:right; margin-right:20px; margin-top:2px;"> <a href="profileUserController.php"><font size="3dp">profile</font></a></div>
		<div style="text-align:right; margin-right:20px; margin-top:2px;"> <a href="logoutController.php"><font size="3dp">logout</font></a></div>
		<div style="text-align:right; margin-right:20px; margin-top:2px;"> <a href="{HOME}"><font size="3dp">home</font></a></div>
		<div align="center">
		<nav class="navbar navbar-inverse" style="background-color:#01DF74; width:900px;" >
  			<div class="page-header">
  				<h1>Experiment analysis list</h1>
			</div>
		</nav>
		<div class="panel panel-default">
  			<div class="panel-heading"> {NAME_EXPERIMENT} </div>
  				<p align="right">
  					{MESSAGE_ERROR_SEARCH}
  					<form action="{ACTION_SEARCH}" method="post">
  						<input type="text" name="name_genesymbol" placeholder="gene symbol" />
  						<input type="submit" name="submit" value="search" />
  					</form>
  				</p>
 				 <table class="table" border="1">
 				 <tr><td></td>{ROW_NAME_ANALYSIS}</tr>
 				 <tr><th>Gene</th>{ROW_NAME_PVALUE_FOLDCHANGE}</tr>
 				 {ROW}
 				 	<!--<tr>{NAME_ANALYSIS_ROW}</tr>
 				 	<tr>{PVALUE_FOLDCHANGE}</tr>
   					<tr><th>Gene symbol</th><th>P value</th><th>Fold change</th><th>Name</th><th>Date</th></tr>
					<tr>{ROW}</tr>-->
  				</table>
		</div>
		<span>
			<p align="left">
			{HREF_PREVIOUS}
			</p>
			<p align="right">
			{HREF_FOLLOWING}
			</p>
		</span>
		
	
		</div>
		<div id ="footer" style="margin-top:10px;" align="center" >
				<img src="http://localhost/workspace/WEB-gene-expression/gene-expression/bootstrap/img/footer.jpg">
		</div>
		

	</body>
</html>